* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card1{
  border: 4px groove lightgray;
  border-radius: 14px;
  padding-top: 30px;
  margin-left:100px;
  margin-right:100px;
  padding-bottom: 20px;
  background:rgba(23, 23, 26, 0.5);
 
}
body {
  font-family: 'montseratt', sans-serif;
}
.app {
 
  width:170px;
  height:170px;
  margin-left:40px;
  border-radius: 10px;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  display: block;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  border-radius: 16px;
  width:400px;
  padding: 0px 25px;
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 500;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
img{
  background: lightgray;
  border-radius: 8px;
}
